build/
build-metal/
outputs/
data/
scripts/
configs/
.vscode/
.DS_Store

*.bin
*.csv
*.json
*.npy

data/**/*.npz
data/**/*.zip
legacy/**/*.zip

third_party/cmdstan/
third_party/eigen-3.4.0/
stan/bin/
stan/*.hpp
stan/onestage
stan/HBMmodel
